.movie-wrapper{
    display: flex;
    background: whitesmoke;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem .3rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 0 ;
    width: 25rem;
}
.movie-img > img{
    background: green;
    border-radius: 10px;
    width: 20rem;
    height: 30rem;
    object-fit: cover; 
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.movie-title{
    font-size: x-large; 
}
.movie-year{
    font-size: larger;
}
.movie-type{
    font-size: x-large;
}